@media (width >=48rem){
       #menu .grid {
        grid-template-columns: repeat(2, 1fr);
        }

        #contact .icons a span {
            display: inline-block;
            margin-left: 0.625rem;
        }
}

@media (width>62rem) {
    header .hamburger {
        display: none;
    }
    
    header nav {
        width: calc(100% - 12.5rem);
        padding: 0.60rem 0px;

        ul {
            display: flex;
            justify-content: end;

            li {
                margin: 0rem 0.3125rem;
            }
        }
    }
        #aboutus .container {
            flex-direction: row;
            justify-content: space-between;
        }

        #menu .grid {
        grid-template-columns: repeat(3, 1fr);
                        }
}